# Игнорируем папку с зависимостями
node_modules/

# Игнорируем файлы с логинами и паролями (если бы они были)
.env
.env.local

# Игнорируем логи
*.log

# Игнорируем SSL сертификаты (мы их сгенерируем на сервере заново)
ssl/
